
---
layout: layout
network: true
---

<%
  const url = getPath();
  const data = site.data[url].data;
  const file = '_partial/networks/' + url;
%>

<%- partial('_partial/heroheader') %>
<main class="contents">
  <%- partial('_partial/header') %>
  <div class="section-wrapper">
    <%- partial('_partial/generalinfo') %>
    <section class="column">
      <div class="section u-block inline-items">
        <h4><%- __('forks') %></h4>
        <ul class="section-list">
          <% for (item in data.forks) { %>
            <li>
              <a href="<%= data.forks[item].url %>"><%= data.forks[item].descr %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </div>
  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>
  <%- partial('_partial/buttons') %>
</main>
